{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>All Rings</title>

    <meta name="description" content="Prototype Ring Explorer: All Rings">
    <meta name="author" content="Harnick Khera - Hephyrius">

    <link href={% static "css/bootstrap.css" %} rel="stylesheet">

  </head>
	  <body>
	  
		<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand">Ring Explorer</a>

		  <div class="collapse navbar-collapse" id="">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			
			  <li class="nav-item active">
				<a class="nav-link" href="http://localhost:8000/">Home<span class="sr-only">(current)</span></a>
			  </li>
			  
			  <li class="nav-item active">
				<a class="nav-link" href="http://localhost:8000/allrings/">View All Rings</a>
			  </li>
			  
			</ul>
			
				<form method="GET" action="/ring/" class="form-inline justify-content-center">
					<div class="form-group">
						<label class="sr-only">Name</label>
						{{form.ringindex}}
					</div>
					<button type="submit" class="btn btn-primary ">Lookup Ring</button>
				</form>
			
		  </div>
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						Recent Rings
					</h3>
					
					<table class="table table-hover table-striped">
					
						<thead>
							<tr>
								<th>
									Ring Index
								</th>
								<th>
									Chain
								</th>
								<th>
									Block Number
								</th>
								<th>
									Time Stamp
								</th>
								<th>
									Ring Hash
								</th>
								<th>
									Miner Address
								</th>
							</tr>
						</thead>
						
						{% block content %}
							{% for r in result %}
							<tbody>
								<tr class="table-active">
									<td>
										<a href="http://localhost:8000/ring/?ringindex={{r.ringindex}}">{{r.ringindex }}</a>
									</td>
									<td>
										{{ r.chain }}
									</td>
									<td>
										{{ r.block }}
									</td>
									<td>
										{{ r.timestamp }}
									</td>
									<td>
										{{ r.ringhash }}
									</td>
									<td>
										{{ r.mineraddress }}
									</td>
								</tr>
							</tbody>
							{% endfor %}
						{% endblock %}
						
					</table>
				</div>
			</div>
		</div>
  </body>
</html>