{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>All Rings</title>

    <meta name="description" content="Loop Explorer: All Rings">
    <meta name="author" content="Harnick Khera - Hephyrius">

    <link href={% static "css/bootstrap.css" %} rel="stylesheet">

  </head>
	  <body>
	  
		<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">LoopExplorer.io</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarToggle">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			  <li class="nav-item">
				<a class="nav-link" href="http://localhost:8000/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="http://localhost:8000/allrings/">View All Rings</a>
			  </li>
			</ul>
			
			<form method="GET" action="/ring/" class="form-inline my-2 my-lg-0">
			  {{form.ringindex}}
			  <button class="btn btn-primary my-2 my-sm-0" type="submit">Lookup Ring</button>
			</form>
		  </div>
		</nav>
		
		<section>
			<div id="container" class="container">
				<h3 class="text-center">All Rings</h3>
				
				<table class="table table-hover table-striped table-responsive">
				
					<thead>
						<tr>
							<th>
								Ring Index
							</th>
							<th>
								Chain
							</th>
							<th>
								Block Number
							</th>
							<th>
								Time Stamp
							</th>
							<th>
								Ring Hash
							</th>
						</tr>
					</thead>
					
					{% block content %}
						{% for r in result %}
						<tbody>
							<tr class="table-active">
								<td>
									<a href="http://localhost:8000/ring/?ringindex={{r.ringindex}}">{{r.ringindex }}</a>
								</td>
								<td>
									{{ r.chain }}
								</td>
								<td>
									{{ r.block }}
								</td>
								<td>
									{{ r.timestamp }}
								</td>
								<td>
									{{ r.ringhash }}
								</td>
							</tr>
						</tbody>
						{% endfor %}
					{% endblock %}
					
				</table>
			</div>
		</section>
	
	<nav aria-label="All Rings Pagination">
	  <ul class="pagination justify-content-center">
	  
		{% if result.has_previous %}
		<li class="page-item">
		  <a class="page-link" href="?page={{ result.previous_page_number }}">Previous</a>
		</li>
		{%else%}
		<li class="page-item disabled">
		  <a class="page-link" href="#" tabindex="-1">Previous</a>
		</li>
		{% endif %}
		
		<li class="page-item active">
		  <a class="page-link" href="#">{{ result.number }} <span class="sr-only">(current)</span></a>
		</li>

		{% if result.has_next %}
		<li class="page-item">
		  <a class="page-link" href="?page={{ result.next_page_number }}">Next</a>
		</li>
		{%else%}
		<li class="page-item disabled">
		  <a class="page-link" href="#">Next</a>
		</li>
		{% endif %}
	  </ul>
	</nav>
	
	<script src = {% static "js/jquery-3.3.1.js" %}></script>
	<script src={% static "js/bootstrap.js" %}></script>
	
  </body>
</html>