{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ring Explorer</title>

    <meta name="description" content="Prototype Ring Explorer">
    <meta name="author" content="Harnick Khera - Hephyrius">

    <link href= {% static "css/bootstrap.css" %} rel="stylesheet">

  </head>
  <body>
	<section id="cover">
		<div id="cover-caption">
			<div id="container" class="container">
				<div class="vertical-center"
					<div class="row text-black">
						<div class="col-sm-10 offset-sm-1 text-center">
							<h1 class="display-3">Ring Explorer Prototype</h1>
							<br>
							
							<div class="info-form">
								<form action="" class="form-inline justify-content-center">
									<div class="form-group">
										<label class="sr-only">Name</label>
										<input type="text" class="form-control" placeholder="Ring Index">
									</div>
									<button type="submit" class="btn btn-success ">Lookup Ring</button>
								</form>
							</div>
							
							<br>
							<a href="allrings" class="btn btn-outline-secondary btn-sm" role="button">
								Browse All Rings
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  </body>
</html>