{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Loop Explorer</title>

    <meta name="description" content="Prototype Loop Explorer">
    <meta name="author" content="Harnick Khera - Hephyrius">

    <link href= {% static "css/bootstrap.css" %} rel="stylesheet">

  </head>
  <body>
  
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">LoopExplorer.io</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarToggle">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		  <li class="nav-item">
			<a class="nav-link" href="http://localhost:8000/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="http://localhost:8000/allrings/">View All Rings</a>
		  </li>
		</ul>
		
		<form method="GET" action="/ring/" class="form-inline my-2 my-lg-0">
		  {{form.ringindex}}
		  <button class="btn btn-primary my-2 my-sm-0" type="submit">Lookup Ring</button>
		</form>
	  </div>
	</nav>

	<section id="cover">
		<div id="cover-caption">
			<div id="container" class="container">
				<div class="vertical-center"
					<div class="row text-black">
						<div class="col-sm-10 offset-sm-1 text-center">
							<h1 class="display-3">Loop Explorer</h1>
							<div class="info-form">
								<form method="GET" action="/ring/" class="form-inline justify-content-center">
									<div class="form-group">
										<label class="sr-only">Name</label>
										{{form.ringindex}}
									</div>
									<button type="submit" class="btn btn-primary ">Lookup Ring</button>
								</form>
							</div>
							<br>

							<a href="allrings" class="btn btn-outline-primary btn-sm" role="button">
								Browse All Rings
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div id="container" class="container">
			<h3 class="text-center">
				Last 10 Rings
			</h3>
						
			<table class="table table-hover table-striped table-responsive">
				<thead>
					<tr>
						<th>
							Ring Index
						</th>
						<th>
							Chain
						</th>
						<th>
							Block Number
						</th>
						<th>
							Time Stamp
						</th>
						<th>
							Ring Hash
						</th>
					</tr>
				</thead>
				
				{% block content %}
					{% for r in result %}
					<tbody>
						<tr class="table-active">
							<td>
								<a href="http://localhost:8000/ring/?ringindex={{r.ringindex}}">{{r.ringindex }}</a>
							</td>
							<td>
								{{ r.chain }}
							</td>
							<td>
								{{ r.block }}
							</td>
							<td>
								{{ r.timestamp }}
							</td>
							<td>
								{{ r.ringhash }}
							</td>
						</tr>
					</tbody>
					{% endfor %}
				{% endblock %}
		
			</table>
		</div>
	</section>
	
	<script src = {% static "js/jquery-3.3.1.js" %}></script>
	<script src={% static "js/bootstrap.js" %}></script>
	
  </body>
</html>